div{
    height: 400px;
    width: 600px;
    border: 2px solid black;
    margin: 5px;

}
#solidBackground{
    background: rgb(255, 255, 12);
    background-color: orange;
}
#imgBackground{
    background: url("../images/IamMaruBookCover.jpg");
    background-position: right;
    background-size:10%;
    background-repeat:repeat-y;
}
#gradientBackground{
    background: linear-gradient(to left, blue  20%, black 60%,  red);
    color: white;
}
#radialGradientBackground{
    background: radial-gradient(blue 20%, black 60%,  red);
}