body{
    background-color: lightsteelblue;
}
header{
    background-color: black;
    color: white;
    font-family: papyrus, cursive;
    font-size: 2em;
    text-align: center;
    border: 5px outset white;
    padding-bottom: 0px
}
nav{
    background-color: black;
    padding: 0px 15px;
    border-top: 1px solid aliceblue;
    text-align: left;
}
nav a{
    color: aliceblue;
    font-size: 0.8rem;
    text-decoration: none;

}
table{
    border: 2px solid grey;
    background-color: white;
    box-shadow: 2px 2px 3px grey;
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
    padding: 2px;
}
thead td{
    font-size: 0.5em;
    font-style: italic;
    border: none;
    padding: 0px;
    margin: 0px;
    text-align: center;     
}
tfoot td{
    border-top: 5px solid black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
}
tbody tr:nth-child(odd){
    background-color: aliceblue;
}
tbody tr:hover{
    background-color: yellow;
}