header{
    font-size: 2em;
    padding: 5px 50px;
    font-family: papyrus;
    color: orange;
    background: linear-gradient(to right, black 20%, grey);

}
section{
    background-color: rgb(254, 200, 99);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    
}
#demoBox{ /* tthis is our flexbox container */
    background-color: white;
    margin: 10px;
    padding: 10px;
    max-height: 300px;
    /* The important settings are next */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; /*determine how white space is handled left/right */
}
#demoBox div{
    width: 80px;
    height: 80px;
    background-color: blue;
    margin: 5px;
    border-radius: 5px;
    min-height: 45px;
    /* flex-related properties are next */
    flex: 1; /*allow the box to change size */
    min-width: 80px; /* this makes it so the width won't go beneath this value. Notice the 'width' property gets ignored when you have flex defined. */
    max-width: 120px;
    order: 1;
}
#demoBox div.two{
    flex: 2;
    background-color: yellow;
    order: 0;
}
img{
    height: 200px;
}
#centerPicture{
    background: tan;
    height: 600px;
    display: flex;
    align-items: center; /* aligns vertically */
    justify-content: center; /*horizontally */
}