body{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    color: rgb(42, 223, 229);
    font-family: papyrus;
    text-align: center;
    font-size: 2em;
}
nav{
    float:left;
    width: 120px;
    border: 5px outset lightgray;
    min-height: 360px;
}