body{
    background-color: rgb(161, 194, 226);
}
header{
    font-size: 2em;
    color: brown;
    background-color: yellow;
    text-align: center;
}
article{
    width: 85%;
    margin: 5px auto;
    background-color: white;
    border-radius: 10px;
    padding: 0px 5px 2px 5px;
    min-height: 180px;
}
article h1{
    text-align: center;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
article img{
    width: 100px;
    float: left;
    margin: 5px;
    box-shadow: 2px 2px 2px grey;
    border-radius: 5px;

}

/* styling specific to this demo 
-- normally it is a bad idea to have multiple entries for the same selector.  I'm doing it to emphasize these pieces --
*/
article img{
    opacity: 0.2;
    transition: 0.3s;
    pointer-events: none; /* makes this element not react to any mouse events (like hover */
    cursor: pointer; /* changes mouse cursor to a hand */
}
article:hover img{  
    opacity: 1;
}