header{
    background-color: navy;
    font-family: pirulen, sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: 2em;
    text-shadow: 3px 3px 2px rgb(157, 158, 186);
}
body{
    height: 4000px;
}
.red{
    height: 600px;
    width: 600px;
    background-color: red;
}
.blue{
    height: 400px;
    width: 400px;
    background-color: blue;
    position:fixed;
    top: 410px;
    left: 10px;
}
img{
    width: 100px;
}
#maru2{
    width: 150px;
    position: sticky;
    top: 100px;
}
.sticky{
    width: 100px;
    height: 100px;
    position: sticky; 
    top: 100px;
    background-color: magenta;
}
nav{
    position: sticky;
    top: 0px;
}