header{
    font-size: 2em;
    color: white;
    background: radial-gradient(black, navy, dodgerblue);
    padding: 10px;
    font-family: papyrus;
    text-align: center;


}
nav{
    background: black;
    color: white;
}
nav a{
    color: white;
    text-decoration: none;
}
nav > ul > li{
    display: inline-block;
    position: relative;
}